@{
    ViewBag.Title = "Why Us";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2>What do we do?</h2>
        <h4>We make your money work for you.</h4>

        <h3 style="margin-top: 25px;">We don't do stocks, why not?</h3>
        <img src="@Url.Content("~/Images/FourQuarters.jpeg")" id="QuartersImage" />

        <div style="margin-top: 15px;">
            <h4>Description of the four quarters to demonstrate the stock market.</h4>
        </div>
    </div>
    <div id="WhyVideos">
        <h3>Why not stocks?</h3>
        <iframe src="https://www.youtube.com/embed/yEvhDTWSRec" frameborder="0" allowfullscreen></iframe>
        <br /><br />
        <iframe src="https://www.youtube.com/embed/yEvhDTWSRec" frameborder="0" allowfullscreen></iframe>
    </div>
</div>